@import url(https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap);
/**
* SETTINGS
**/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
html body {
  padding: 10px;
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  color: #3D3D3D;
  background-image: url(../img/bush.png);
  background-attachment: fixed;
}
html body a, html body a:visited {
  color: inherit;
  text-decoration: inherit;
}
html body a:hover, html body a:visited:hover {
  text-decoration: underline;
}
html body .container {
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
}
html body h1, html body h2, html body h3, html body h4 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
html body h1 {
  font-size: 2.4rem;
  text-align: center;
  margin: 3rem 0;
}
html body h2 {
  font-size: 1.4rem;
  margin-top: 0;
  padding-top: 0;
}
html body h3 {
  font-size: 1.4rem;
  background-color: #0a9f9a;
  margin: 0;
  padding: 0.8rem;
  color: #f0f0f0;
  position: relative;
}
html body h3 small {
  font-size: 0.9rem;
}
html body h3 .context-menu {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
}
html body img {
  vertical-align: sub;
}
html body table {
  border: 1px solid #ABC;
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
}
html body table th {
  background-color: #e6EEEE;
  border: 1px solid #9ccece;
  padding: 0.3rem;
}
html body table td {
  color: #3D3D3D;
  padding: 0.3rem;
  background-color: #FFF;
  border: 1px solid #9ccece;
  text-align: center;
  vertical-align: middle;
}
html body table td img {
  vertical-align: middle;
}
html body table td.right {
  text-align: right;
}
html body table#tasks_tbl, html body table#contacts_tbl {
  width: 100%;
}
html body .quick-view {
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  background-color: white;
  overflow: hidden;
}
html body .quick-view .new-group {
  margin: 0.2rem;
  display: inline-block;
  border-radius: 0.4rem;
  overflow: hidden;
  cursor: pointer;
}
html body .quick-view .new-group .square {
  height: 100%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  float: left;
  line-height: 1.2rem;
  min-width: 1.4rem;
  padding: 0.2rem 0.6rem;
}
html body .quick-view .new-group .square:not(:first-of-type) {
  border-left: 1px solid white;
}
html body .tasks .task {
  margin-top: 2rem;
  padding: 0;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  background-color: white;
  overflow: hidden;
}
html body .spacer {
  clear: both;
  line-height: 0;
  padding: 0;
  margin: 0;
}
html body .block-content {
  padding: 0.8rem;
}
html body .highlight {
  background-color: #166260;
  padding: 0px 1rem;
  display: inline-block;
  color: #FFF;
  font-size: 1rem;
  vertical-align: middle;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}
html body .small {
  font-size: 0.8rem;
}
html body .hidden {
  display: none;
}
html body .up {
  background-color: #8adf8a;
}
html body .down {
  background-color: #f79292;
}
html body .unknown {
  background-color: #f5d69e;
}

@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
