@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
	padding: 10px;
	font-family: 'Hind', sans-serif;
	font-size: 1rem;
	color: #3D3D3D;
}

a, a:visited {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  margin: 3rem 0;
}

h2 {
  font-size: 1.4rem;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  font-size: 1.4rem;
}


img {
  vertical-align: sub;
}

table {
	  border: 1px solid #ABC;
	  font-size: 14px;
	  border-spacing : 0;
    border-collapse : collapse;
}

th {
  background-color: #e6EEEE;
  border: 1px solid #9ccece;
  padding: 0.3rem;
}

td {
  color: #3D3D3D;
  padding: 0.3rem;
  background-color: #FFF;
  vertical-align: top;
  border: 1px solid #9ccece;
  text-align: center;
  vertical-align: middle;

}

#tasks_tbl, #contacts_tbl {
  width: 100%;
}

.quick-view {
  margin: 3rem auto;
  max-width: 1000px;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  position: relative;
}


.new-group {
  margin: .1rem;
  display: inline-block;
  border-radius: .4rem;
  overflow: hidden;
  cursor: pointer;
}

.quick-view .square {
  height: 100%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  float: left;
  line-height: 1.2rem;
  min-width: 1.4rem;
}

.quick-view .square:not(:first-of-type) {
  border-left: 1px solid white;
}

.spacer {
  clear:both;
  line-height: 0;
  padding: 0;
  margin:0;
}


.task {
  margin: 3rem auto;
  max-width: 1000px;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  position: relative;
}


.highlight {
  background-color: #000;
  padding: 0px 1rem;
  display: inline-block;
  color: #FFF;
  font-size: 1rem;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.task.show .task-overlay {
  display: none;
}

.exp-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 20px;
  min-height: 27px;
  height: 27px;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
   animation-iteration-count: 3;
   animation-delay: 3s;
}

.task .exp-icon {
  background-image: url('../img/expand.png');
}

.task.active .exp-icon {
  background-image: url('../img/collapse.png');
}

.up {
  background-color: #8adf8a;
}

.down {
  background-color: #f79292;
}

.unknown {
  background-color: rgb(245, 214, 158);
}


.square.unknown img, .square.down img, .square.up img  {
  opacity: .5;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
